.wrapper {
  display: table;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.canvas-container {
  position: relative;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
}

#canvas {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;  
}

.button {
    display: block;
    padding: 0;
    margin: 5 auto;

    font: 12üx Verdana,Helvetica, sans-serif;
}


/* Tabelle */
table {
	font-family:Verdana, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
    
    display: block;
    padding: 0;
    margin: 0 auto;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	


}

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;

	
	
}

table tr {
	text-align: center;
	padding-left:20px;
}

table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	
}
