 #wrapper {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;

    }
    .canvas-container {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #myCanvas {
        display: block;
        padding: 0;
        margin: 0 auto;
    }

    @media(max-width:1200px) {
        .canvas-container {
            margin: 0 auto;
        }
        #myCanvas {
            width: 100%;
            height: auto;
        }
    }
    
    @media(max-width:1200px) {
        .canvas-container {
            margin: 0 auto;
        }
        table {
            width: 100%;
            height: auto;
        }
    }

table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #e0e0e0;
    	border-left:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;

	
	
}

table tr {
	text-align: center;
	padding-left:20px;
}

table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	
}
