ons-list-item > ons-icon {
  margin: 0 4px 0 0;
  opacity: 0.8;
}

#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

.aut {
  font-size: 12px;
  opacity: 0.8;
}

.nav-fut{
  padding-top: 200px;
}

.list-item-action {
  opacity: 0.5;
}

.list-item-note {
  position: absolute;
  right: 36px;
  top: 0px;
  font-size: 14px;
}

.list-item-note > .notification {
  margin-top: 12px;
}

.lucent {
  opacity: 0.4;
}